{% extends 'base.html' %}

{% block title %} {{ book["title"] }} {% endblock %}

{% block content %}
<a href="/" class="nav-link"></a>
<h1>Details about {{ book["title"] }}</h1>
<hr>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/{{ book['img'] }}" class="card-img-top" alt="Book Cover Image">
            <div class="card-body">
                <h5 class="card-title">{{ book["title"] }}</h5>
                <p class="card-text">{{ book["description"] }}</p>
                <p class="card-text">{{ book["rating"] }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}